<div class="profile-panel">
  <div class="badge-panel">
    <i class="bi bi-person-circle"></i>
    <div class="badge-title">
      <h5>
        John Doe
        <sup
          ><span><i class="bi bi-check-circle-fill"></i></span
        ></sup>
      </h5>
      <p>johndoe&#64;hotmail.com</p>
    </div>
  </div>
  <div class="info-panel">
    <p class="info-panel-birth">Birth of Date - 1st July 1990</p>
    <p class="info-panel-joined">Joined Date - 10th January 2024</p>
  </div>
  <div class="button-panel">
    <button class="btn btn-dark">Profile</button>
    <button class="btn btn-danger">Logout</button>
  </div>
</div>
